@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  background-size: 100% 100%;
  height: 125vh;
  width: 98.8vw;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url('../../../assets/background.png');
  position: relative;
  top: -9px;
  left: -9px;

  .header {
    position: relative;
    margin-left: 15%;
    border-bottom: 1px solid #1B6BA2;
    // width: calc(100vw - 27rem);
    width: 65%;
    text-align: center;
    top: 2rem;

    .logo {
      width: 28%;
      margin-bottom: 1rem;
    }
  }

  .header-body {
    position: relative;
    top: 2rem;
    margin-left: 15%;
    // width: calc(100vw - 27rem);
    width: 85%;
    height: 32rem;

    .list {
      height: 2.5rem;
      border-bottom: 1px solid #0E7ED0;
      // width: calc(100vw - 27rem);
      width: 76.5%;
      display: inline-flex;
      overflow-y: hidden;
      overflow-x: auto;
      font-weight: 600;

      button {
        background: none;
        border: none;
        color: white;
        height: 2.5rem;

        &:focus{
          outline: none;
        }

        &:hover,
        &.active {
          background-color: $bg-color;
          color: white;
          outline: none;
        }
      }

      .films {
        margin-left: 1.5rem;
        width: 7.5rem;
      }

      .species {
        width: 7.5rem;
      }

      .planets {
        width: 7.5rem;
      }

      .characters {
        width: 9.5rem;
      }

      .starships {
        width: 9.5rem;
      }

      .vehicles {
        width: 10rem;
      }
    }
  }

  .header-footer {
    position: relative;
    border-top: 1px solid #054979;
    width: 100%;
    top: 2.3rem;

    .conditions {
      position: relative;
      margin-left: 15%;
      width: 70%;
      top: 1.5rem;
      height: 5rem;
      display: inline-flex;
      font-weight: 600;

      .logoFooter {
        height: 2.4rem;
      }

      .btns {
        width: 100%;
        display: block;

        button {
          border: none;
          background-color: #fff0;
          color: #1B6BA2;
          font-size: 11px;
          height: 2.4rem;

          &:focus {
            outline: none;
          }
        }

        .terms {
          width: 16%;
        }

        .notices {
          width: 18%;
        }

        .policy {
          width: 18%;
        }

        .helpDesk {
          width: 20%;
        }

        .desk {
          display: none;
        }

        .disneyStore {
          width: 25%;
        }
      }
    }

    .lucasFilm {
      text-align: center;
      color: #49586B;
      font-size: 13px;
      position: relative;
      top: -1rem;
      font-weight: 400;
    }
  }
}

.list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    background-size: cover;
    background-position-x: center;

    .header-footer {
      font-size: 9px;

      .logoFooter {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  body {

    .header-footer {

      .lucasFilm {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  body {
    height: 100vh;
    position: relative;
    top: -10px;
    left: -8px;
    background-size: cover;
    background-position-x: center;

    .header {
      width: 92%;
      margin-left: 4%;
    }

    .header-body {
      width: 100%;
      margin: 0;

      .list {
        width: 92%;
        margin-left: 4%;

        .films {
          margin: 0;
        }
      }
    }

    .header-footer {
      height: 9rem;
      width: 92%;
      margin-left: 4%;
      top: -15%;

      .conditions {
        margin: 0 0 0 -4%;
        width: 108%;
        display: block;
        height: 10rem;
        background-color: #010204;

        .logoFooter {
          display: none;
        }

        .btns {

          .terms {
            width: 31%;
            margin-left: 1%;
          }

          .notices {
            width: 32%;
          }

          .policy {
            width: 36%;
          }

          .helpDesk {
            display: none;
          }

          .desk {
            display: initial;
            width: 28%;
            margin: 0;
            margin-left: 7%;
          }

          .disneyStore {
            width: 56%;
          }
        }
      }

      .lucasFilm {
        top: -3.5rem;
      }
    }
  }
}
