@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.card {
  width: 76.5%;
  height: 23rem;
  position: relative;
  top: 10%;
  background-color: rgba(117, 188, 255, 0.12);
  font-family: 'Open Sans', sans-serif;

  .page {
    position: relative;
    width: 80%;
    top: 10%;
    height: 18.5rem;
    margin-left: 10%;
    display: flex;

    .image {
      width: 50%;
      position: relative;
      height: 80%;
      text-align: center;
      margin: auto;

      img {
        width: 80%;
        height: 100%;
      }
    }

    .details {
      width: 50%;
      color: white;
      margin: auto;
      height: 73%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 3%;
      font-weight: 400;

      h2 {
        margin-top: 0;
        font-weight: 700;
      }

      p {
        overflow-wrap: break-word;
        font-weight: 600;

        span {
          color: #A5C1D3;
          font-weight: 400;
        }

        .characterList {
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

.details::-webkit-scrollbar {
  width: 5px;
}

.details::-webkit-scrollbar-track {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.details::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: #00A8FF;
}

@media screen and (max-width: 920px) {

  .card {

    .page {

      .image {

        img {
          height: 85%;
          position: relative;
          top: 9%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .card {

    .page {

      .image {

        img {
          height: 70%;
          top: 17%;
        }
      }
      .details{
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .card {
    top: 0;
    height: 21.5rem;
    background: none;
    width: 97%;

    .page {
      top: 6%;
      display: block;
      height: 94%;

      .image {
        width: 65%;
        height: 50%;
        text-align: center;

        img {
          width: 100%;
        }
      }

      .details {
        height: 43%;
        width: 65%;

        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
