<div class="home">
    <div class="contents">
        <a href="/header/films">
            <button class="films">
                <img src="../../../assets/films_normal.png" alt="">
                <img class="active" src="../../../assets/films_pressed.png" alt="">
                <p>FILMS</p>
            </button>
        </a>
        <a href="/header/species">
            <button class=" species">
                <img src="../../../assets/species_normal.png" alt="">
                <img class="active" src="../../../assets/species_pressed.png" alt="">
                <p>SPECIES</p>
            </button>
        </a>
        <a href="/header/planets">
            <button class=" planets">
                <img src="../../../assets/planets_normal.png" alt="">
                <img class="active" src="../../../assets/planets_pressed.png" alt="">
                <p>PLANETS</p>
            </button></a>
        <a href="/header/people">
            <button class="characters">
                <img src="../../../assets/characters_normal.png" alt="">
                <img class="active" src="../../../assets/characters_pressed.png" alt="">
                <p>PEOPLE</p>
            </button>
        </a>
        <a href="/header/starships">
            <button class="droids">
                <img src="../../../assets/droids_normal.png" alt="">
                <img class="active" src="../../../assets/droids_pressed.png" alt="">
                <p>STARSHIP</p>
            </button>
        </a>
        <a href="/header/vehicles">
            <button class="vehicles">
                <img src="../../../assets/vehicles_normal.png" alt="">
                <img class="active" src="../../../assets/vehicles_pressed.png" alt="">
                <p> VEHILCLES</p>
            </button>
        </a>
    </div>
</div>